<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/styles/style.css">
		<script src="/scripts/script.js"></script>
	</head>
	<body>
		<div>{{ foo }}</div>
		<div>trans:{% trans %}Mary{% endtrans %}, {{_("lamb")}}</div>
		<ul>
		{% for user in users %}
		  <li><a href="{{ user.url }}">{{ user.username }}</a></li>
		{% endfor %}
		</ul>
		<div id="navbar">Blog: {{ blog.name }}</div>
		<ul>
		{% for entry in blog.entries %}
			<li>{{  entry.title }}</li>
		{% endfor %}
		</ul>
	</body>
</html>
